body {
	margin: 0px;
}
.nav {
	height:30px;
	width: 100%;
	line-height: 30px;
	background-color: #9BC2CF;
	margin:none;
	font-size: 20px;
	vertical-align: middle;
	padding:10px;
	position: fixed;
}
.nav a:link {
	color:white;
	text-decoration:none;
	padding:7px;
}
.nav a:hover {
	color:pink;
}
.nav a:visited {
	color:grey;
}
.links {
	margin-right: 15px;
	text-align: right;
}
