/*THIS IS CSS FOR ENTIRE SITE*/
body {
	background: rgb(244,244,243);
	margin: 0px;
	font-family: futura;
}
.nav {
	height:30px;
	width: 100%;
	line-height: 30px;
	background-color: #9BC2CF;
	margin:none;
	font-size: 20px;
	vertical-align: middle;
	padding:10px;
	position: fixed;
}
.nav a:link {
	color: white;
	text-decoration:none;
	padding:7px;
}
.nav a:hover {
	color: pink;
}
.nav a:visited {
	color: grey;
}
.nav a:hover {
	color: pink;
}

.nav a:visited {
	color: grey;
}

.links {
	margin-right: 15px;
	text-align: right;
}

.logo {
	height: 50px;
	width: 43px;
	overflow: hidden;
	position: fixed;
	top:0px;
}

.logo img{
	width: 100%;
}

/*THIS IS CSS FOR HOME PAGE*/
.home-header {
	width:100%;
	height:600px;
	background-color: grey;
	overflow: hidden;
}
.home-header-img img{
	width: 100%;
}
.home-header-overlay {
	font-size: 60px;
	background: black;
	opacity: 0.4;
	position: relative;
	bottom: 166%;
	color: white;
	width:100%;
	height:600px;
}

/*THIS IS FOR GALLERY*/
.gallery {
	text-align: center;	

.home-slider {
}

/*THIS IS FOR GALLERY*/
.gallery {
text-align: center;	
}
  
.gallery div {
	vertical-align: top;
	box-sizing: border-box;	
	display: inline-block;
	margin: 5px;
}
  
.gallery img {
	width: 100%;
}
  
#pics div {
	width: 300px;
	height: 300px;
	overflow: hidden;
}
  
#pics {
	margin:20px 0px;

/*for about me page*/
.overlay h1 {
	text-align: left;
	color: white;
	padding:10px;
	font-size: 40px;
	margin:0px;
}

.overlay {
	background: gray;
	position: relative;
	bottom: 77%;
	width: 600px;
	height: 300px;
	opacity: 0.4;
}

.paragraph p {
	text-align: center;
}

.linkwrapper a {
	text-decoration: none;
	color: grey;
}

.header img {
	width: 600px;
	height: 300px;
	box-sizing: border-box;
	position: relative;
	margin-top: 10%;
}

.header {
	height: 400px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

.linkwrapper {
	/*background: rgb(162, 193, 205);*/	
	display: inline-block;
}

.absolute {
	text-align: center
}

.display {
	height: 165px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	background: rgb(208,208,204);
	padding: 0px;
}

/*donate page*/

.button {
	height: 500px;
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

.button img {
	width: 100%;
}
 
 .buttonoverlay {
	position: relative;
	text-align: center;
}
/* 
 .text {
 	background-color: gray;
 	position: relative;
 }

.buttonimage {
	position: relative;
	box-sizing: border-box;
}*/




