
body {
	background: rgb(244,244,243);
	margin: 0px;
	font-family: futura;
}

.nav {
	height:30px;
	width: 100%;
	line-height: 30px;
	background-color: #9BC2CF;
	margin:none;
	font-size: 20px;
	vertical-align: middle;
	padding:10px;
	position: fixed;
}

.nav a:link {
	color:white;
	text-decoration:none;
	padding:7px;
}

.nav a:hover {
	color:pink;
}

.nav a:visited {
	color:grey;
}

.links {
	margin-right: 15px;
	text-align: right;
}

.logo {
	height: 50px;
	width: 43px;
	overflow: hidden;
	position: fixed;
	top:0px;
}

.logo img{
	width: 100%;
}

/*for about me page*/
.overlay h1 {
	text-align: left;
	color: white;
	padding:10px;
	font-size: 40px;
	margin:0px;
}

.overlay {
	background: gray;
	position: relative;
	bottom: 77%;
	width: 600px;
	height: 300px;
	opacity: 0.4;
}

.paragraph p {
	text-align: center;
}

.linkwrapper a {
	text-decoration: none;
	color: slategray;
}

.header img {
	width: 600px;
	height: 300px;
	box-sizing: border-box;
	position: relative;
	margin-top: 10%;
}

.header {
	height: 400px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

.linkwrapper {
	/*background: rgb(162, 193, 205);*/	
	display: inline-block;
}

.absolute {
	text-align: center
}

.display {
	height: 200px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	background: rgb(208,208,204);
}

